*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

nav{
	height:70px;
	background-color:#EC715F;
}
nav ul{
	float:right;
	text-align:center;
}
nav li{
	font-size:16px;
	padding:0 30px;
	list-style:none;
	display: inline-block;
	line-height:70px;
}
a:link, a:visited, a:hover, a:active {
  color: #FAFAFA;
  text-decoration: none;
}
nav img{
	height:70px;
	width:160px;
}

nav div {
	width:1024px;
	margin:0 auto;
}
#main-visual{
	background-image:url("img/mv.png");
	background-size:100% 100%;
	height:650px;
	padding:200px;
}
#main-visual h2{
	font-size:64px;
	color:#FAFAFA;
	margin-bottom:10px;
	text-align:center;
}
#main-visual p{
	font-size:20px;
	color:#FAFAFA;
	text-align:center;
}
#portfolio{
	width:920px;
	padding:90px 0;
	margin: 0 auto;
}
#portfolio h3{
	font-size:32px;
	color:#000000;
	padding-bottom:8px;
	text-align:center;
	position: relative;
}
#portfolio h3:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -6px;/*ÃƒÂ§Ã‚Â·Ã…Â¡ÃƒÂ£Ã‚ÂÃ‚Â®ÃƒÂ¤Ã‚Â¸Ã…Â ÃƒÂ¤Ã‚Â¸Ã¢â‚¬Â¹ÃƒÂ¤Ã‚Â½Ã‚ÂÃƒÂ§Ã‚Â½Ã‚Â®*/
  display: inline-block;
  width: 70px;/*ÃƒÂ§Ã‚Â·Ã…Â¡ÃƒÂ£Ã‚ÂÃ‚Â®ÃƒÂ©Ã¢â‚¬Â¢Ã‚Â·ÃƒÂ£Ã‚ÂÃ¢â‚¬Â¢*/
  height: 3px;/*ÃƒÂ§Ã‚Â·Ã…Â¡ÃƒÂ£Ã‚ÂÃ‚Â®ÃƒÂ¥Ã‚Â¤Ã‚ÂªÃƒÂ£Ã‚ÂÃ¢â‚¬Â¢*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*ÃƒÂ¤Ã‚Â½Ã‚ÂÃƒÂ§Ã‚Â½Ã‚Â®ÃƒÂ¨Ã‚ÂªÃ‚Â¿ÃƒÂ¦Ã¢â‚¬Â¢Ã‚Â´*/
  background-color: #EC715F;/*ÃƒÂ§Ã‚Â·Ã…Â¡ÃƒÂ£Ã‚ÂÃ‚Â®ÃƒÂ¨Ã¢â‚¬Â°Ã‚Â²*/
}
#portfolio p{
	font-size:16px;
	color:#000000;
	padding:30px 0;
	text-align:center;
}
.portfolio{
	width:300px;
	height:250px;
}
#A,#C{
	background-color: #ECEFF1;
}
.top .portfolio{
	margin:0 10px 10px 0;
}
.top .portfolio:last-child{
	margin-right:0;
}
.down .portfolio{
	margin-right:10px;
}
.down .portfolio:last-child{
	margin-right:0px;
}
#B{
	width:980px;
	margin:0 auto;
}
#B h3{
	font-size:32px;
	color:#000000;
	padding-bottom:8px;
	text-align:center;
	position: relative;
}
#B h3:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -6px;/*ÃƒÂ§Ã‚Â·Ã…Â¡ÃƒÂ£Ã‚ÂÃ‚Â®ÃƒÂ¤Ã‚Â¸Ã…Â ÃƒÂ¤Ã‚Â¸Ã¢â‚¬Â¹ÃƒÂ¤Ã‚Â½Ã‚ÂÃƒÂ§Ã‚Â½Ã‚Â®*/
  display: inline-block;
  width: 70px;/*ÃƒÂ§Ã‚Â·Ã…Â¡ÃƒÂ£Ã‚ÂÃ‚Â®ÃƒÂ©Ã¢â‚¬Â¢Ã‚Â·ÃƒÂ£Ã‚ÂÃ¢â‚¬Â¢*/
  height: 3px;/*ÃƒÂ§Ã‚Â·Ã…Â¡ÃƒÂ£Ã‚ÂÃ‚Â®ÃƒÂ¥Ã‚Â¤Ã‚ÂªÃƒÂ£Ã‚ÂÃ¢â‚¬Â¢*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*ÃƒÂ¤Ã‚Â½Ã‚ÂÃƒÂ§Ã‚Â½Ã‚Â®ÃƒÂ¨Ã‚ÂªÃ‚Â¿ÃƒÂ¦Ã¢â‚¬Â¢Ã‚Â´*/
  background-color: #EC715F;/*ÃƒÂ§Ã‚Â·Ã…Â¡ÃƒÂ£Ã‚ÂÃ‚Â®ÃƒÂ¨Ã¢â‚¬Â°Ã‚Â²*/
}

#B p{
	font-size:16px;
	color:#000000;
	padding:30px 0;
	text-align:center;
}
.feature{
	width:320px;
	margin-right:10px;
	display:inline-block;
	text-align: center;
}
.feature:last-child{
	margin-right:0px;
}
.fab{
	font-size:60px;
	margin:0 auto;
	text-align: center;
	display:inline-block;
}
.feature h4{
	font-size: 20px;
	color:#000000;
	margin:10px 0;
	text-align: center;
}
.feature p{
	font-size:16px;
	color:#000;
}
#features{
	font-size:0;
	padding:90px 0;
}
#C h3{
	font-size:32px;
	color:#000000;
	padding-bottom:8px;
	text-align:center;
	position: relative;
}
#C h3:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -6px;/*ÃƒÂ§Ã‚Â·Ã…Â¡ÃƒÂ£Ã‚ÂÃ‚Â®ÃƒÂ¤Ã‚Â¸Ã…Â ÃƒÂ¤Ã‚Â¸Ã¢â‚¬Â¹ÃƒÂ¤Ã‚Â½Ã‚ÂÃƒÂ§Ã‚Â½Ã‚Â®*/
  display: inline-block;
  width: 70px;/*ÃƒÂ§Ã‚Â·Ã…Â¡ÃƒÂ£Ã‚ÂÃ‚Â®ÃƒÂ©Ã¢â‚¬Â¢Ã‚Â·ÃƒÂ£Ã‚ÂÃ¢â‚¬Â¢*/
  height: 3px;/*ÃƒÂ§Ã‚Â·Ã…Â¡ÃƒÂ£Ã‚ÂÃ‚Â®ÃƒÂ¥Ã‚Â¤Ã‚ÂªÃƒÂ£Ã‚ÂÃ¢â‚¬Â¢*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*ÃƒÂ¤Ã‚Â½Ã‚ÂÃƒÂ§Ã‚Â½Ã‚Â®ÃƒÂ¨Ã‚ÂªÃ‚Â¿ÃƒÂ¦Ã¢â‚¬Â¢Ã‚Â´*/
  background-color: #EC715F;/*ÃƒÂ§Ã‚Â·Ã…Â¡ÃƒÂ£Ã‚ÂÃ‚Â®ÃƒÂ¨Ã¢â‚¬Â°Ã‚Â²*/
}
#profile{
	width:1024px;
	padding:90px 0;
	margin:0 auto;
}
.F{
	font-size:16px;
	color:#000000;
	padding:30px 0;
	text-align:center;
}
.image img{
	border-radius:50%;
	width:250px;
	height:250px;
}
.image{
	width:512px;
	display:inline-block;
	text-align:center;
}
.content{
	width:512px;
	display:inline-block;
}
#D{
	font-size:0;
}
.content h5{
	font-size:20px;
	margin-bottom:5px;
}
#C .content p{
	font-size:16px;
}
.E{
	margin-bottom:20px;
}
#contact{
	width:800px;
	padding:90px 0;
	margin:0 auto;
}
#contact h3{
	font-size:32px;
	color:#000000;
	padding-bottom:8px;
	text-align:center;
	position: relative;
}
#contact h3:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -6px;/*ÃƒÂ§Ã‚Â·Ã…Â¡ÃƒÂ£Ã‚ÂÃ‚Â®ÃƒÂ¤Ã‚Â¸Ã…Â ÃƒÂ¤Ã‚Â¸Ã¢â‚¬Â¹ÃƒÂ¤Ã‚Â½Ã‚ÂÃƒÂ§Ã‚Â½Ã‚Â®*/
  display: inline-block;
  width: 70px;/*ÃƒÂ§Ã‚Â·Ã…Â¡ÃƒÂ£Ã‚ÂÃ‚Â®ÃƒÂ©Ã¢â‚¬Â¢Ã‚Â·ÃƒÂ£Ã‚ÂÃ¢â‚¬Â¢*/
  height: 3px;/*ÃƒÂ§Ã‚Â·Ã…Â¡ÃƒÂ£Ã‚ÂÃ‚Â®ÃƒÂ¥Ã‚Â¤Ã‚ÂªÃƒÂ£Ã‚ÂÃ¢â‚¬Â¢*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*ÃƒÂ¤Ã‚Â½Ã‚ÂÃƒÂ§Ã‚Â½Ã‚Â®ÃƒÂ¨Ã‚ÂªÃ‚Â¿ÃƒÂ¦Ã¢â‚¬Â¢Ã‚Â´*/
  background-color: #EC715F;/*ÃƒÂ§Ã‚Â·Ã…Â¡ÃƒÂ£Ã‚ÂÃ‚Â®ÃƒÂ¨Ã¢â‚¬Â°Ã‚Â²*/
}
#contact p{
	font-size:16px;
	color:#000000;
	padding:30px 0;
	text-align:center;
}
.content2{
	width:800px;
	font-size:0;
}
.content2 h5{
	font-size:20px;
	margin-bottom:5px;
}
.content2 a{
	font-size:15px;
	color:black;
}
#information a{
	margin-bottom:20px;
}
#information{
	width:400px;
	 float:left;
	padding-left: 200px;
}
#sns{
	width:400px;
	margin-left: 500px;
}
#sns h5{
	margin-bottom:5px;
	font-size:20px;
}
.mail{
	margin-bottom:20px;
}
.fa-facebook-f,.fa-twitter{
	margin-right:20px;
}
.G{
	display:inline;
}
footer{
	background-color: #EC715F;
	height:60px;
	text-align: center;
	color:#FAFAFA;
	font-size:16px;
	line-height:60px;
}
.menu-box{
	display:none;
}

@media screen and (max-width:767px){
	nav{
	height:50px;
	background-color:#EC715F;
	padding:5px 0;
	/* width:90%; */
}
	nav ul{
	display:none;
}
	nav img{
	height:40px;
	width:90px;
}
	#main-visual{
	background-image:url("img/code.png");
	height:650px;
	padding:200px 10px 0 10px;
	/* width:90%; */
}
	#main-visual h2{
	font-size:40px;
	color:#FAFAFA;
	margin-bottom:10px;
	text-align:center;
}
	#main-visual p{
	font-size:18px;
	color:#FAFAFA;
	}
	#portfolio{
	width:90%;
	padding:90px 0;
	margin: 0 auto;
}
	.none{
		display:none;
	}
	#features{
	padding:90px 0;
	/* width: 90%; */
   text-align:center;
}
	.feature{
	display:inline-block;
}
#B{
	width:90%;
	margin:0 auto;
}
#profile{
	width:90%;
	padding:90px 0;
	text-align:center;
	margin:0 auto;
}

.content{
	width:90%;
	display:inline-block;
}
.content h5{
	font-size:20px;
	margin:20px 0 5px 0;
	text-align:center;
}
#C .content p{
	font-size:16px;
	text-align:center;
}

.image{
	width:250px;
	height:250px;
	text-align:center;
}
#contact{
	width:90%;
	padding:90px 0;
}
.content2{
	width:90%;
	font-size:0;
	margin:0 auto;
	float:none;
}
#information{
	width:90%;
	display:inline-block;
	text-align:center;
	float:none;
	padding-left: 40px;
	margin-bottom:20px;
}
#sns{
	width:90%;
	display:inline;
	text-align:center;
	margin:0 auto
}
#contact p{
	font-size:16px;
	color:#000000;
	padding:30px 0;
	/* width:90%; */
}
nav div {
	width:90%;
	margin:0 auto;
}
#portfolio{
	width:300px;
	height:250px

	margin: 0 auto;
}
#portfolio:last-child{

	margin-top:10px;
}
.G{
	text-align: center;
}
.menu-box{
width:40px;
height:40px;
border:1px solid #FAFAFA;
float:right;
display:block;
}
.list-bar{
	width:25px;
	height:2px;
	color:#FAFAFA;
	margin:5px auto;
	background-color: #FAFAFA;
	display:block;
}
.list-bar:first-child{
	margin-top:10px;
}
}